@media (max-width: 1220px) {
    .myheader,.you{
        margin-left: 30px;
    }
}

@media (max-width: 940px) {
   .header-2{
    margin-bottom: 70px;
    .mynav{
        flex-direction: column;
        margin-left: 500px;
        margin-top: 50px;
        .ul-1,.ul-2{
            flex-direction: column;
            .li-1,.li-2,.li-3,.li-4{
                margin-bottom: 15px;
                
                
            }
        }

        .li-3{
            animation: li3;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            position: relative;
        }

        @keyframes li3 {
            from {right:350px}
            to {right:450px}
            
        }

        .li-4{
            animation: li3;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            position: relative;
        }

        @keyframes li4 {
            from {right:350px}
            to {right:450px}
            
        }

        
    }
   }

   .myheader{
    width: 200px;
    
    

    .login{
        position: relative;
        animation: login;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        
        
    }

    @keyframes login {

        from {right:300px}
        to {right:610px}


        
    }
    .registration{
        margin-top: 50px;
        position: relative;
        animation: login;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        
        
    }

    @keyframes login {

        from {right:300px}
        to {right:610px}


        
    }

   }

  .you{
    margin-bottom: 100px;
    .you-p{

        width: 300px;
        height: 400px;
        .about-2{
            width: 370px;
        }

        .about-3{
            display: none;
        }
       
       
        
    }
    
  }

  .castsection{
    .charlota{
        display: none;
    }
  }

  

 
}

@media (max-width: 380px) {
   .body{

    .footer{
        width: 1600px;
        height: 480px;
    }

    .myfooter{
        flex-direction: column;
        margin-top: 20px;
        line-height: 50px;
        position: absolute;
    }
    .icons-2{
        flex-direction: column;
        line-height: 60px;
        position: absolute;
    }
   }
       
        
    
}

